<div class="grid-header">
    <!-- <div class="navbar"> -->
    <a href="#default">
        <div class="grid-header__logo-container">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg" enable-background="new" id="svg4524" version="1.1"
                viewBox="0 0 140.69455 22.24243" height="22.24243mm" width="140.69455mm">
                <defs id="defs4518" />
                <metadata id="metadata4521">
                    <rdf:RDF>
                        <cc:Work rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                            <dc:title></dc:title>
                        </cc:Work>
                    </rdf:RDF>
                </metadata>
                <g transform="translate(-37.706273,-32.407938)" id="layer1">
                    <text id="text5071" y="42.392086" x="43.143551"
                        style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#d9d9d9;fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                        xml:space="preserve">
                        <tspan
                            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.58333302px;font-family:Georgia;-inkscape-font-specification:'Georgia, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke-width:0.26458332;fill:#d9d9d9;fill-opacity:1;"
                            y="42.392086" x="43.143551" id="tspan5069">Daniel</tspan>
                    </text>
                    <text id="text5075" y="51.826767" x="38.880363"
                        style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#d9d9d9;fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                        xml:space="preserve">
                        <tspan
                            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10.58333302px;font-family:Georgia;-inkscape-font-specification:'Georgia, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke-width:0.26458332;fill:#d9d9d9;fill-opacity:1;"
                            y="51.826767" x="38.880363" id="tspan5073">Oberbillig</tspan>
                    </text>
                    <path id="path5077" d="m 93.664856,32.407938 v 21.90492"
                        style="fill:#8eb101;fill-opacity:1;stroke:#8eb101;stroke-width:.46499999;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                    <text id="text5081" y="39.295834" x="102.90362"
                        style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#d9d9d9;fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                        xml:space="preserve">
                        <tspan
                            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke-width:0.26458332;fill:#d9d9d9;fill-opacity:1;"
                            y="39.295834" x="102.90362" id="tspan5079">DATA VISUALISATION</tspan>
                    </text>
                    <text id="text5081-6" y="45.740227" x="102.90362"
                        style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#a6a6a6;fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                        xml:space="preserve">
                        <tspan
                            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke-width:0.26458332;fill:#a6a6a6;fill-opacity:1;"
                            y="45.740227" x="102.90362" id="tspan5079-0">BUSINESS INTELLIGENCE</tspan>
                    </text>
                    <text id="text5081-4" y="52.195648" x="102.90362"
                        style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#7f7f7f;fill-opacity:1;stroke:none;stroke-width:0.26458332;"
                        xml:space="preserve">
                        <tspan
                            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;stroke-width:0.26458332;fill:#7f7f7f;fill-opacity:1;"
                            y="52.195648" x="102.90362" id="tspan5079-9">DESIGN &amp; DEVELOPMENT</tspan>
                    </text>
                </g>
            </svg>
        </div>
    </a>

    <div class="grid-header__nav">
        <a class="active" href="qlik-sense-web-prg-page.html">Analysis</a>
        <a href="qlik-sense-web-prg-page-2.html">Details</a>

        <div class="grid-header__nav-right">
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
    </div>

    <!-- </div> -->
</div>