<div class="grid-footer">
    <footer class="do-standard-footer">


            <!-- COLUMN 1: NAME, PHOTO, DESCRIPTION -->
            <div class="col1">
                <h1 class="colTitle">Design and Development</h1>
                <!-- <h2>Design and Development</h2> -->

                <div class="imageAndText">
                    <a href="http://danieloberbillig.com/" target="_blank" rel="noopener noreferrer">
                        <img class="portrait" src="/assets/img/daniel-oberbillig-foto.100x100_bw.jpg" alt="portrait"
                            srcset="">
                        <p class="profileText"><span class="highlight">Daniel Oberbillig</span> is a business
                            intelligence and front-end web
                            developer, specialized in data visualisation. He is certified as a Qlik Data Architect and
                            Developer, Tableau Desktop Associate and as a Microsoft Solutions Expert for Data Management
                            and
                            Analytics.</p>
                        </p>
                    </a>
                </div>
            </div>



            <!-- COLUMN 2: CLIENT INFO -->
            <div class="col2 clientInfo">
                <h1 class="colTitle">Prototype Development for</h1>
                <p id="clientContact"><span class="highlight">Jan Stewart</span></p>
                <p id="clientName">Australian Tiny House Association (ATHA) Inc.</p>
            </div>


            <!-- COLUMN 3 SOCIAL MEDIA ICONS -->
            <div class="col3 stayInTouch">
                <h1 class="colTitle">Let's stay in touch</h1>
                <div class="socialMedia">
                    <a href=mailto:danieloberbillig@gmail.com?subject="ATHA Prototype"><span class="socialMediaIcon"><i
                                class="fas fa-envelope-square"></i></span></a>

                    <a href="https://www.linkedin.com/in/daniel-oberbillig-3b717841/" target="_blank"><span
                            class="socialMediaIcon"><i class="fab fa-linkedin"></i></span></a>

                    <a href="https://www.xing.com/profile/Daniel_Oberbillig2?sc_o=mxb_p" target="_blank"><span
                            class="socialMediaIcon"><i class="fab fa-xing-square"></i></span></a>
                    <a href="https://github.com/danieloberbillig" target="_blank"><span class="socialMediaIcon"><i
                                class="fab fa-github-square"></i></span></a>

                    <a href="https://twitter.com/oberbillig" target="_blank"><span class="socialMediaIcon"><i
                                class="fab fa-twitter-square"></i></span></a>
                </div>

                <div class="contact">
                    <a href="http://danieloberbillig.com" target="_blank"
                        rel="noopener noreferrer">www.danieloberbillig.com</a>
                </div>
            </div>
        
    </footer>
</div>