<div class="grid-share">
    <div class="shareThis">
        <!-- LEFT SIDE -->
        <div class="shareThis__title">
            <h1>Share this</h1>
        </div>
        <!-- RIGHT SIDE -->
        <div class="shareThis__links">
            <ul class="shareThis__socialMedia">
                <li>
                    <a href="https://twitter.com/share?url=http://danieloberbillig.com&amp;text=Daniel%20Oberbillig%20BI&amp;hashtags=danieloberbillig"
                        target="_blank"><span class="socialMediaIcon"><i class="fab fa-twitter"></i></span></a>
                </li>
                <li>
                    <a href="http://www.facebook.com/sharer.php?u=https://danieloberbillig.com" target="_blank"><span
                            class="socialMediaIcon"><i class="fab fa-facebook"></i></span></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://danieloberbillig.com"
                        target="_blank"><span class="socialMediaIcon"><i class="fab fa-linkedin"></i></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>