<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<div class="grid-share">
    <div class="shareThis">
        <!-- LEFT SIDE -->
        <div class="shareThis__title">
            <h1>Share this</h1>
        </div>
        <!-- RIGHT SIDE -->
        <div class="shareThis__links">
            <ul class="shareThis__socialMedia">
                <li>
                    <a href="https://twitter.com/share?url=https://danieloberbillig.github.io/atha-website/2019/11/19/surveyreport2019.html&amp;text=Daniel%20Oberbillig%20BI&amp;hashtags=atha, tinyhouse, dataviz"
                        target="_blank"><span class="socialMediaIcon" Title="Twitter"><i class="fab fa-twitter"></i></span></a>
                </li>
                <li>
                    <a href="http://www.facebook.com/sharer.php?u=https://danieloberbillig.github.io/atha-website/2019/11/19/surveyreport2019.html" target="_blank"><span
                            class="socialMediaIcon" Title="Facebook"
                            data-href="https://danieloberbillig.github.io/atha-website/2019/11/19/surveyreport2019.html" 
                            ><i class="fab fa-facebook"></i></span></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://danieloberbillig.github.io/atha-website/2019/11/19/surveyreport2019.html"
                        target="_blank"><span class="socialMediaIcon" Title="LinkedIn"><i class="fab fa-linkedin"></i></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

