// MOBILE FIRST: default for small devices then work way upwards

body {
    background-color: #F8F8F6;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}


.contentContainer {
    // background-color: red;
    background-color: #FFF;
    // margin: 10px auto 0 auto;
    color: #5c5c5c;
    font-size: 14px;
    line-height: 1.8em;
    max-width: 100%;
    // max-width: 100%;
}

.innerContentContainer {
    // background-color: orange;
    // padding-top: 1em;
    margin: 0 20px 0 20px;
    max-width: 90%;
}

// .mainGridContainer {
    // background-color: yellow;

    // margin: 0;
    // display: block;
    // grid-template-columns: 1fr;
 
    // position: relative;
    // background-color: orange;
// }

.scrollspyContainer {
    display: none;
}


.contentHeader {
    margin-top: 100px;
}


.hero {
    width: 100%;
}

.hero__image {
    width: 100%;
}





.intro {
    color: black;
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.contentHeader__title {
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    font-weight: 300;
    color: #222;
    margin: 0em 0 1em 0;
    font-size: 2.2em;
    line-height: 1.2;
    text-align: center;
    
}

.contentHeader__title > span {
    font-weight: 300;
}

.contentHeader__subtitle {
    margin-bottom: 65px;
    font-size: 0.8em;
    text-align: center;
}

.title, aside>h1, section>h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #222;
    margin: 0 0 25px 0;
    font-size: 2.5em;
    line-height: 1.4;
}

.title, section h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #222;
    margin: 40px 0 10px 0;
    font-size: 1.5em;
}

aside, section {
    margin: 70px 0 0 0;
}

p {
    margin-bottom: 1.4rem;
}


.citation {
    margin: 10px 0px 30px 40px;
    font-style: italic;
}

.ending {
    font-style: italic;
    font-size: .9em;
}







// CHARTS --------------------
.chart__image__container {
    margin: 40px auto 40px auto;
    height: 350px;
    text-align: center;
}

.chart__image {
    height: 100%;
    width: auto;
}

.chartRow {
    margin: 40px auto 40px auto;
    display: flex;
    flex-wrap: nowrap;

    // 20/01/2020 needs testing
    height: 15rem;
}

.chartRow--small {
    margin: 40px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    // height: 50px;
}

// needed for responsiveness in Chart.js - do not work directly on canvas
.chartContainer {
    position: relative;
    margin: 0px auto 0px auto;
}

.chartContainer--12 {
    width: 100%;
}

.chartContainer--6 {
    width: 100%;
}

.btmMrg--small {
    margin-bottom: 40px;
}




#chart_4  {
    height: 300px;
}

#chart_7  {
    height: 200px;
}




// BREAKPOINTS
/* Responsive Web Design - Media Queries */
/* MOBILE FIRST: default css for mobile phone */
/* Extra small devices */


/* then work your way up for larger devices using min-width */
@media only screen and (min-width: 640px) {
    /* Small devices (portrait tablets and large phones, 640px and up) */
}

@media only screen and (min-width: 768px) {
    /* Medium devices (landscape tablets, 768px and up) */


    .contentContainer {
       max-width: 85%;
    }

    .innerContentContainer {
        margin: 50px 20px 0 20px;
    }


    .contentHeader__title {
        font-size: 3em;
    }
    



      // CHARTS --------------------
      .chartRow {
        margin: 40px auto 40px auto;
        height: 300px;
        display: flex;
        flex-wrap: nowrap;
    }

    .chartRow--small {
        margin: 40px auto 40px auto;
        height: 200px;
        display: flex;
        flex-wrap: nowrap;
    }

    

    // needed for responsiveness in Chart.js - do not work directly on canvas
    .chartContainer {
        position: relative;
        margin: 0px auto 0px auto;
    }

    .chartContainer--12 {
        width: 80%;
    }

    .chartContainer--6 {
        width: 100%;
    }
}






@media only screen and (min-width: 1200px) {
// @media only screen and (min-width: 1024px) {
    /* Large devices (laptops/desktops, 1024px and up) */
    
    /* for scrollspay aside -------------------*/
    html {
        scroll-behavior: smooth;
    }


    .contentContainer {
        max-width: 1100px;
        // max-width: 85%;
        margin: 50px auto 0 auto;
        border: 2px solid rgba(0,0,0,.1);

    }

    .innerContentContainer {
        margin: 50px 190px 0 140px;
    }

    
    .mainGridContainer {
        margin: 0;
        display: grid;
        grid-template-columns: 600px min-content;
        // TODO: HAVE TO USE FIX 600px instead of 1fr
        // to avoid layout break if resize big-to-small-to-big
        // grid-template-columns: 1fr min-content;
    }

    .scrollspyContainer {
        white-space: nowrap;
        display: inline;
        padding-top: 8rem;
        padding-left: 4.5rem;
        padding-bottom: 50px;
    }

   
    
    .scrollspyContainer ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: sticky;
        top: 10rem;
        font-size: 0.7rem;
    }

    .scrollspyContainer ul li a {
        display: block;
        line-height: 1.5;
        margin: .5rem .5rem;
        padding: 0 .5rem;
        color: inherit;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }

    .scrollspyContainer ul li a:hover {
        color: #5c5c5c;
        font-weight: 800;
    }
    
    .scrollspyContainer ul li a.current {
        color: #5c5c5c;
        font-weight: 800;
        border-left: 1px solid #5c5c5c, 
    }
    // -----------------------------------------


   

  
}

@media only screen and (min-width: 1200px) {
    /* Extra large devices (large laptops and desktops, 1200px and up) */
}
