.do-standard-footer {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(191, 191, 191);
    background-color: rgb(89, 89, 89);
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1.2fr 1.2fr .6fr;
    min-height: 100px;
    padding: 40px 20px 10px 100px;
}

/* .footer__content {
    width: 1500px;
    margin: 40px auto 10px auto;
    background-color: red;
} */

.do-standard-footer a {
    text-decoration: none;
    color: rgb(191, 191, 191);
}

.colTitle {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.portrait {
    height: 60px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.profileText {
    text-align: left;
    width: 80%;
    font-size: 0.7rem;
    line-height: 1.3;
}

.highlight {
    color: #fff;
}

.notitia_svgSpace {
    height: 3rem;
    width: 60%;
}


#notitia_svgSpace_sub {
    font-size: .7rem;
    margin-top: -0.6rem;
}

#clientName {
    margin-top: -18px;
    font-size: 1rem;
}

#clientContact {
    margin-top: 15px;
    font-size: 1.1rem;
}

.contact {
    font-size: 0.7em;
    line-height: 1.7;
    margin-top: 12px;
}

.socialMedia>img {
    height: 20px;
    width: 20px;
}

.socialMediaIcon>* {
    font-size: 1.5em;
    margin-right: 3px;
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    
    .do-standard-footer {
        height: 100%;
        padding: 50px 15px 0 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "col1"
            "col2"
            "col3" 
    }    

    .col2, .col3 {
        margin-top: 3rem;
    }  

    .colTitle {
        font-size: 1rem;
    }
    
    .portrait {
        height: 70px;
        margin-right: 15px;
        border-radius: 10%;
    }
    
    .profileText {
        width: 97%;
        font-size: 0.9rem;
        line-height: 1.4;
    }

    .notitia_svgSpace {
        height: 3rem;
        width: 40%;
    }
    
    .contact {
        font-size: 0.7em;
        line-height: 1.7;
        margin-top: 12px;
    }
    
    .socialMedia>img {
        height: 140px;
        width: 140px;
    }
    
    .socialMediaIcon>* {
        font-size: 2.5rem;
        margin-right: 1rem;
    }
    
    .contact {
        font-size: 1rem;
        line-height: 1.7;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*  */
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1024px) {
    .do-standard-footer {
        padding: 40px 20px 10px 10px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*  */
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*  */
}
