nav {
    height: 2.7rem;
    background-color: #fff;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.clientLogo {
   vertical-align: middle;
   height: 80%;
   margin: .3% 0 .3% 0;
}

nav a {
    vertical-align: middle;
    text-decoration: none;
    margin-left: 1rem;
    font-size: .8rem;
    line-height: 2rem;
    color: #686868;
}