.shareThis {
    margin: 10px auto 30px auto;
    padding-top: 25px;
    text-align: center;
}

.shareThis__title {
    display: inline;
    margin-right: 20px;
}

.shareThis__title h1 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(172, 171, 171);
    display: inline;
    font-size: 1.5em;
}

.shareThis__links {
    display: inline;
}

.shareThis__socialMedia {
    list-style: none;
    display: inline;
}

.shareThis__socialMedia li {
    display: inline;
    margin-right: 15px;
}

.shareThis__socialMedia li a {
    text-decoration: none;
    color: rgb(172, 171, 171);
}

.socialMediaIcon i {
    font-size: 1.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .shareThis {
        margin: 10px 10px 30px 10px;
        padding-top: 15px;
        text-align: center;
    }

    .shareThis__socialMedia li {
        display: inline;
        margin-right: 3px;
    }

    .socialMediaIcon i {
        font-size: 2rem;
    }
}