<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link href="{{ "/assets/css/styles.css" | relative_url }}" rel="stylesheet">
    
    <!-- <link rel="stylesheet" href="/assets/css/styles.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i&display=swap"
        rel="stylesheet">

    <script src="{{site.baseurl}}/assets/js/Chart.bundle.min.js"></script>



    <!-- social media logos -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon"
        href="https://images.squarespace-cdn.com/content/v1/5a88b90849fc2b8e071397a3/1532590657516-9NE70VAJIB2H6Y5W51C2/ke17ZwdGBToddI8pDm48kFZs-yxuSCmGgo1JzJrP3ySoCXeSvxnTEQmG4uwOsdIceAoHiyRoc52GMN5_2H8Wp8YNt3ixqfdFMJsDduzuuwEDyt9kPlFkX5GOpUGPQry3eGC1cYoSGMgDN_A6BMkybA/favicon.ico">
    
    {% feed_meta %}
    {% seo %}
</head>

<body>
    {% include danHeader.html %}
    {% include navigation.html %}

    {{ content }}

    {% include shareThis.html %}
    {% include footer.html %}

    <script src="{{site.baseurl}}/assets/js/chart_default.js"></script>
    <script src="{{site.baseurl}}/assets/js/chart_1.js"></script>
    <script src="{{site.baseurl}}/assets/js/chart_2.js"></script>
    <script src="{{site.baseurl}}/assets/js/chart_3.js"></script>
    <script src="{{site.baseurl}}/assets/js/chart_4.js"></script>
    <script src="{{site.baseurl}}/assets/js/chart_5.js"></script>
    <script src="{{site.baseurl}}/assets/js/chart_6.js"></script>
    <script src="{{site.baseurl}}/assets/js/chart_7.js"></script>
    <script src="{{site.baseurl}}/assets/js/chart_8.js"></script>

    <script src="{{site.baseurl}}/assets/js/scrollspy.js"></script>
</body>

</html>